In [5]:
import pandas as pd

# Read the data from the text file (assuming comma-separated values)
# Replace 'your_data.txt' with your actual filename
df = pd.read_csv("GLD.csv")

In [6]:
print(df.head())

        Price      Close       High        Low       Open    Volume
0  2004-11-18  44.380001  44.490002  44.070000  44.430000   5992000
1  2004-11-19  44.779999  44.919998  44.470001  44.490002  11655300
2  2004-11-22  44.950001  44.970001  44.740002  44.750000  11996000
3  2004-11-23  44.750000  44.919998  44.720001  44.880001   3169200
4  2004-11-24  45.049999  45.049999  44.790001  44.930000   6105100

In [10]:
df['Date'] = df['Price'].astype(str).str.strip()
df['Date'] = pd.to_datetime(df['Price'], format='%Y-%m-%d', errors='coerce')

In [11]:
# Set the 'Date' column as the index
df.set_index('Date', inplace=True)

# Resample to weekly frequency taking last close price of each week
weekly_close = df['Close'].resample('W').last()

# Calculate weekly percentage change
weekly_change = weekly_close.pct_change() * 100

# Combine into a DataFrame
weekly_df = pd.DataFrame({
    'Weekly Close': weekly_close,
    'Weekly Change Rate Percent': weekly_change
})

print(weekly_df)

            Weekly Close  Weekly Change Rate Percent
Date
2004-11-21     44.779999                         NaN
2004-11-28     45.290001                    1.138906
2004-12-05     45.599998                    0.684472
2004-12-12     43.439999                   -4.736842
2004-12-19     44.189999                    1.726519
...                  ...                         ...
2025-10-05    357.640015                    3.143573
2025-10-12    369.119995                    3.209926
2025-10-19    388.989990                    5.383072
2025-10-26    377.519989                   -2.948662
2025-11-02    364.350006                   -3.488552

[1094 rows x 2 columns]

In [12]:
weekly_df.to_csv('GLD_wk.csv')

In [16]:
print(df.head())
# Filter rows where the weekday is Monday(0), Wednesday(2), or Friday(4)
df_filtered = df[df.index.weekday.isin([0, 2, 4])]

print(df_filtered)

                 Price      Close       High        Low       Open    Volume
Date
2004-11-18  2004-11-18  44.380001  44.490002  44.070000  44.430000   5992000
2004-11-19  2004-11-19  44.779999  44.919998  44.470001  44.490002  11655300
2004-11-22  2004-11-22  44.950001  44.970001  44.740002  44.750000  11996000
2004-11-23  2004-11-23  44.750000  44.919998  44.720001  44.880001   3169200
2004-11-24  2004-11-24  45.049999  45.049999  44.790001  44.930000   6105100
                 Price       Close        High         Low        Open  \
Date
2004-11-19  2004-11-19   44.779999   44.919998   44.470001   44.490002
2004-11-22  2004-11-22   44.950001   44.970001   44.740002   44.750000
2004-11-24  2004-11-24   45.049999   45.049999   44.790001   44.930000
2004-11-26  2004-11-26   45.290001   45.599998   45.060001   45.250000
2004-11-29  2004-11-29   45.400002   45.500000   45.080002   45.099998
...                ...         ...         ...         ...         ...
2025-10-17  2025-10-17  388.989990  397.279999  385.220001  397.140015
2025-10-20  2025-10-20  403.149994  403.299988  394.200012  397.450012
2025-10-22  2025-10-22  377.279999  378.470001  368.929993  372.750000
2025-10-24  2025-10-24  377.519989  380.769989  376.809998  378.510010
2025-10-27  2025-10-27  367.010010  371.589996  365.339996  371.130005

              Volume
Date
2004-11-19  11655300
2004-11-22  11996000
2004-11-24   6105100
2004-11-26   3097700
2004-11-29   3759000
...              ...
2025-10-17  62025000
2025-10-20  34523000
2025-10-22  30524100
2025-10-24  13263800
2025-10-27  23657600

[3124 rows x 6 columns]

In [18]:
df_filtered['Daily Change Rate'] = df_filtered['Close'].pct_change()

/tmp/ipykernel_2898/1851141547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Daily Change Rate'] = df_filtered['Close'].pct_change()

In [19]:
df_filtered

,Price,Close,High,Low,Open,Volume,Daily Change Rate
Date,,,,,,,
2004-11-19,2004-11-19,44.779999,44.919998,44.470001,44.490002,11655300,NaN
2004-11-22,2004-11-22,44.950001,44.970001,44.740002,44.750000,11996000,0.003796
2004-11-24,2004-11-24,45.049999,45.049999,44.790001,44.930000,6105100,0.002225
2004-11-26,2004-11-26,45.290001,45.599998,45.060001,45.250000,3097700,0.005327
2004-11-29,2004-11-29,45.400002,45.500000,45.080002,45.099998,3759000,0.002429
...,...,...,...,...,...,...,...
2025-10-17,2025-10-17,388.989990,397.279999,385.220001,397.140015,62025000,0.004130
2025-10-20,2025-10-20,403.149994,403.299988,394.200012,397.450012,34523000,0.036402
2025-10-22,2025-10-22,377.279999,378.470001,368.929993,372.750000,30524100,-0.064170
2025-10-24,2025-10-24,377.519989,380.769989,376.809998,378.510010,13263800,0.000636
2025-10-27,2025-10-27,367.010010,371.589996,365.339996,371.130005,23657600,-0.027840

In [ ]:
df_filtered.to_csv('GLD_by2d.csv')